<a href="https://colab.research.google.com/github/Shreyas3108/Decodr13_Apr/blob/master/CovidDataCreation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
import datetime
 
def date_range(start, end):
    r = (end+datetime.timedelta(days=1)-start).days
    return [start+datetime.timedelta(days=i) for i in range(r)]
 
start = datetime.date(2020,3,22)
end = datetime.date(2020,4,21)
dateList = date_range(start, end)
datelist = []
for i in dateList :
  datelist.append(i.strftime("%m-%d-%Y"))

In [0]:
list_data = []
for i in datelist : 
  try :
    df = pd.read_csv('https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_daily_reports/{}.csv'.format(i))
    df['date'] = i
    list_data.append(df)
  except : 
    print(i)

In [65]:
list_data[0].head(3)

      FIPS         Admin2  ...                 Combined_Key        date
0  36061.0  New York City  ...  New York City, New York, US  03-22-2020
1  36059.0         Nassau  ...         Nassau, New York, US  03-22-2020
2  36119.0    Westchester  ...    Westchester, New York, US  03-22-2020

[3 rows x 13 columns]

In [0]:
df = pd.concat(list_data , ignore_index= True)

In [74]:
df['Country_Region']

0                        US
1                        US
2                        US
3                        US
4                        US
                ...
94146    West Bank and Gaza
94147        Western Sahara
94148                 Yemen
94149                Zambia
94150              Zimbabwe
Name: Country_Region, Length: 94151, dtype: object

In [0]:
df['Death_Per_Confirmed'] = (df['Deaths'] / df['Confirmed'])*100

In [79]:
df[['Country_Region','Confirmed','Recovered','Deaths','Death_Per_Confirmed']]

           Country_Region  Confirmed  Recovered  Deaths  Death_Per_Confirmed
0                      US       9654          0      63             0.652579
1                      US       1900          0       4             0.210526
2                      US       1873          0       0             0.000000
3                      US       1034          0       9             0.870406
4                      US        455          0       1             0.219780
...                   ...        ...        ...     ...                  ...
94146  West Bank and Gaza        466         71       4             0.858369
94147      Western Sahara          6          0       0             0.000000
94148               Yemen          1          0       0             0.000000
94149              Zambia         70         35       3             4.285714
94150            Zimbabwe         28          2       3            10.714286

[94151 rows x 5 columns]

In [88]:
df[(df['Country_Region'] == "US") & (df['Deaths'] > 0)]

          FIPS         Admin2  ...        date Death_Per_Confirmed
0      36061.0  New York City  ...  03-22-2020            0.652579
1      36059.0         Nassau  ...  03-22-2020            0.210526
3      36103.0        Suffolk  ...  03-22-2020            0.870406
4      36087.0       Rockland  ...  03-22-2020            0.219780
8      36055.0         Monroe  ...  03-22-2020            1.470588
...        ...            ...  ...         ...                 ...
93907     66.0            NaN  ...  04-21-2020            3.676471
93934     69.0            NaN  ...  04-21-2020           14.285714
93940     72.0            NaN  ...  04-21-2020            4.930663
93962      NaN            NaN  ...  04-21-2020            6.376139
93964     78.0            NaN  ...  04-21-2020            5.660377

[23451 rows x 14 columns]

In [108]:
df[(df['Country_Region'] == 'India') | (df['Country_Region'] == 'US')]

          FIPS         Admin2  ...        date Death_Per_Confirmed
0      36061.0  New York City  ...  03-22-2020            0.652579
1      36059.0         Nassau  ...  03-22-2020            0.210526
2      36119.0    Westchester  ...  03-22-2020            0.000000
3      36103.0        Suffolk  ...  03-22-2020            0.870406
4      36087.0       Rockland  ...  03-22-2020            0.219780
...        ...            ...  ...         ...                 ...
93940     72.0            NaN  ...  04-21-2020            4.930663
93945      NaN            NaN  ...  04-21-2020                 NaN
93962      NaN            NaN  ...  04-21-2020            6.376139
93964     78.0            NaN  ...  04-21-2020            5.660377
94045      NaN            NaN  ...  04-21-2020            3.212151

[86236 rows x 14 columns]