<a href="https://colab.research.google.com/github/Shreyas3108/Decodr13_Apr/blob/master/CovidDataCreation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
import datetime
 
def date_range(start, end):
    r = (end+datetime.timedelta(days=1)-start).days
    return [start+datetime.timedelta(days=i) for i in range(r)]
 
start = datetime.date(2020,1,22)
end = datetime.date(2020,4,23)
dateList = date_range(start, end)
datelist = []
for i in dateList :
  datelist.append(i.strftime("%m-%d-%Y"))

# CoronaVirus Analysis : Data from John Hopkins University 

Coronavirus data collated everyday from Github. Source is given below :- 

https://github.com/CSSEGISandData/COVID-19/raw/ 

Updated till 24/4/2020 

Collating data for different dates and doing some analysis

### Importing the Dataset

In [0]:
list_data = []
for i in datelist : 
  try :
    df = pd.read_csv('https://github.com/CSSEGISandData/COVID-19/raw/master/csse_covid_19_data/csse_covid_19_daily_reports/{}.csv'.format(i))
    df['date'] = i
    list_data.append(df)
  except : 
    print(i)

In [0]:
df = pd.concat(list_data , ignore_index= True)

### First 20 rows 

We look at the first 20 rows from our imported dataset.

In [34]:
df.head(20)

    Province/State  Country/Region      Last Update  ...  Long_  Active  Combined_Key
0            Anhui  Mainland China  1/22/2020 17:00  ...    NaN     NaN           NaN
1          Beijing  Mainland China  1/22/2020 17:00  ...    NaN     NaN           NaN
2        Chongqing  Mainland China  1/22/2020 17:00  ...    NaN     NaN           NaN
3           Fujian  Mainland China  1/22/2020 17:00  ...    NaN     NaN           NaN
4            Gansu  Mainland China  1/22/2020 17:00  ...    NaN     NaN           NaN
5        Guangdong  Mainland China  1/22/2020 17:00  ...    NaN     NaN           NaN
6          Guangxi  Mainland China  1/22/2020 17:00  ...    NaN     NaN           NaN
7          Guizhou  Mainland China  1/22/2020 17:00  ...    NaN     NaN           NaN
8           Hainan  Mainland China  1/22/2020 17:00  ...    NaN     NaN           NaN
9            Hebei  Mainland China  1/22/2020 17:00  ...    NaN     NaN           NaN
10    Heilongjiang  Mainland China  1/22/2020 17:00  ...    NaN     NaN           NaN
11           Henan  Mainland China  1/22/2020 17:00  ...    NaN     NaN           NaN
12       Hong Kong       Hong Kong  1/22/2020 17:00  ...    NaN     NaN           NaN
13           Hubei  Mainland China  1/22/2020 17:00  ...    NaN     NaN           NaN
14           Hunan  Mainland China  1/22/2020 17:00  ...    NaN     NaN           NaN
15  Inner Mongolia  Mainland China  1/22/2020 17:00  ...    NaN     NaN           NaN
16         Jiangsu  Mainland China  1/22/2020 17:00  ...    NaN     NaN           NaN
17         Jiangxi  Mainland China  1/22/2020 17:00  ...    NaN     NaN           NaN
18           Jilin  Mainland China  1/22/2020 17:00  ...    NaN     NaN           NaN
19        Liaoning  Mainland China  1/22/2020 17:00  ...    NaN     NaN           NaN

[20 rows x 18 columns]

### Last 10 rows

In [35]:
df.tail(10)

       Province/State  ...                             Combined_Key
107969            NaN  ...                                   Zambia
107970            NaN  ...                                 Zimbabwe
107971            NaN  ...  Australian Capital Territory, Australia
107972            NaN  ...               New South Wales, Australia
107973            NaN  ...            Northern Territory, Australia
107974            NaN  ...                    Queensland, Australia
107975            NaN  ...               South Australia, Australia
107976            NaN  ...                      Tasmania, Australia
107977            NaN  ...                      Victoria, Australia
107978            NaN  ...             Western Australia, Australia

[10 rows x 18 columns]

In [36]:
df.columns

Index(['Province/State', 'Country/Region', 'Last Update', 'Confirmed',
       'Deaths', 'Recovered', 'date', 'Latitude', 'Longitude', 'FIPS',
       'Admin2', 'Province_State', 'Country_Region', 'Last_Update', 'Lat',
       'Long_', 'Active', 'Combined_Key'],
      dtype='object')

In [0]:
df['Country_Region'] = np.where(df['Country_Region'].isnull() , df['Country/Region'] , df['Country_Region'])

In [0]:
df['Province_State'] = np.where(df['Province_State'].isnull() , df['Province/State'] , df['Province_State'])

In [0]:
df['Last_Update'] = np.where(df['Last_Update'].isnull() , df['Last Update'] , df['Last_Update'])

In [0]:
df['Latitude'] = np.where(df['Latitude'].isnull(),df['Lat'] , df['Latitude'])
df['Longitude'] = np.where(df['Longitude'].isnull(),df['Long_'] , df['Longitude'])

In [53]:
df.isnull().sum()

Province/State    103621
Country/Region    100362
Last Update       100362
Confirmed             19
Deaths               441
Recovered            388
date                   0
Latitude            4112
Longitude           4112
FIPS               16786
Admin2             16324
Province_State      9096
Country_Region         0
Last_Update            0
Lat                 8911
Long_               8911
Active              7617
Combined_Key        7617
dtype: int64

In [0]:
df = df.drop(['Province/State', 'Country/Region', 'Last Update','Lat','Long_'] , axis = 'columns')

In [56]:
df.head()

   Confirmed  Deaths  Recovered  ...      Last_Update  Active  Combined_Key
0        1.0     NaN        NaN  ...  1/22/2020 17:00     NaN           NaN
1       14.0     NaN        NaN  ...  1/22/2020 17:00     NaN           NaN
2        6.0     NaN        NaN  ...  1/22/2020 17:00     NaN           NaN
3        1.0     NaN        NaN  ...  1/22/2020 17:00     NaN           NaN
4        NaN     NaN        NaN  ...  1/22/2020 17:00     NaN           NaN

[5 rows x 13 columns]

In [0]:
df[['Confirmed','Deaths','Recovered']] = df[['Confirmed','Deaths','Recovered']].fillna(0)

In [0]:
df['Death_Per_Confirmed'] = (df['Deaths'] / (df['Confirmed']+0.000000001))*100

In [62]:
df.head()

   Confirmed  Deaths  Recovered  ... Active  Combined_Key  Death_Per_Confirmed
0        1.0     0.0        0.0  ...    NaN           NaN                  0.0
1       14.0     0.0        0.0  ...    NaN           NaN                  0.0
2        6.0     0.0        0.0  ...    NaN           NaN                  0.0
3        1.0     0.0        0.0  ...    NaN           NaN                  0.0
4        0.0     0.0        0.0  ...    NaN           NaN                  0.0

[5 rows x 14 columns]

In [0]:
country = df.groupby(['Country_Region','date'])[['Confirmed','Deaths','Recovered','Active','Death_Per_Confirmed']]

In [0]:
country = country.sum().reset_index()

In [0]:
first_case = country.groupby('Country_Region')['date'].min().to_frame().reset_index().rename(columns = {'date':'first_date'})

In [0]:
country = pd.merge(country , first_case , on = 'Country_Region' , how = 'left')

In [86]:
country

                      Country_Region  ...  first_date
0                         Azerbaijan  ...  02-28-2020
1                        Afghanistan  ...  02-24-2020
2                        Afghanistan  ...  02-24-2020
3                        Afghanistan  ...  02-24-2020
4                        Afghanistan  ...  02-24-2020
...                              ...  ...         ...
9701  occupied Palestinian territory  ...  03-10-2020
9702  occupied Palestinian territory  ...  03-10-2020
9703  occupied Palestinian territory  ...  03-10-2020
9704  occupied Palestinian territory  ...  03-10-2020
9705  occupied Palestinian territory  ...  03-10-2020

[9706 rows x 8 columns]

In [0]:
country['days_since_first_case'] = pd.to_datetime(country['date']) - pd.to_datetime(country['first_date'])

In [92]:
country.query('Country_Region == "India"').iloc[-1]

Country_Region                      India
date                           04-23-2020
Confirmed                           23077
Deaths                                721
Recovered                            5012
Active                              17344
Death_Per_Confirmed               3.12432
first_date                     01-30-2020
days_since_first_case    84 days 00:00:00
Name: 4031, dtype: object